.List
  width: 500px

  .ChoiceButtons
    display: flex
    justify-content: center
  
  .ChoiceButton
    width: 50%
    text-transform: uppercase
    border: 1px solid #DFE5EC;
    background: #ffffff
    box-sizing: border-box;
    height: 50px
    outline: none
    cursor: pointer
    transition: all .2s ease-out

  .left
    border-right: none
    border-radius: 8px 0 0 8px

  .right      
    border-left: none
    border-radius: 0 8px 8px 0
  
  .active
    background: #2196F3
    color: #ffffff

@media (max-width: 500px)
  .List
    width: 100%
    margin: 0 20px