.App
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap&subset=cyrillic');
  background-color: #E5E5E5
  height: 100%
  display: flex
  flex-direction: column
  align-items: center
  width: 100%

  .content
    display: flex
